<p>
  <%= link_to 'Add a bag', new_bag_path %> ...</p>
  <p> or choose a bag below that you want to retrieve.</p>

<% if @bags %>
<div>
    <% @bags.each do |bag| %>
    <p><%= link_to "See bag #{bag.id}", bag %></p>
    <% end %>
</div>
<% end %>