<h1>Bag#index</h1>
<p>
  <%= link_to 'Add a bag', new_bag_path %>
</p>
<p>
  Retrieve bag
</p>

<% if @bags %>
<div>
  <h2>All bags created</h2>
  <ul>
    <% @bags.each do |bag| %>
    <li><%= link_to 'Get bag', bag %> Bag #<%= bag.id %></li>
    <% end %>
  </ul>
</div>
<% end %>